/* .home-return {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;

} */

body {
  color: white;
  background-color: #cfd0c1;
}

nav {
  background-color: #c49f3d;
  padding: 10px;
  padding-bottom: 20px;
  /* border: 5px solid #71241f; */
  margin: -10px;
}

nav a {
  color: white;
  text-decoration: none;;
}

.top-white-stripe {
  background-color: white;
  margin-left: -10px;
  margin-right: -10px;
  padding: 5px;
}

h1 {
  background-color: #71241f;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  padding: 5px;
}

.home-img-container {
  display: flex;
}

.home-img {
  margin: auto;
  border-radius: 5px;
}

.footer-container {
  display: flex;
  justify-content: center;
}

footer {
  margin-top: 20px;
  background-color: #4f3f33;
  padding: 10px;
  min-width: 250px;  
  max-width: 300px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;;
}

.product-title {
  text-align: center;
  font-size: xx-large;
  padding-bottom: 5px;
  color: #71241f;
}

.preview-item {
  background-color: #71241f;
  border: 4px solid white;
}

.logout-bttn {
  color: white;
  background-color: rgb(177, 7, 7);
  border: 2px solid white;
}

.form-container {
  display: flex;
}

.form-field {
  width: 200px;
  border-radius: 5px;
  margin: auto;
}

.form-bttn{
  width: 100px;
  margin: auto;
}