body {
  color: white;
  background-color: #1e1e1e;
}

a {
  color: white;
}

h1 {
  text-align: center;
}

.products-page-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  margin: auto;
  justify-content: space-evenly;
}

.preview-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 3px solid white;
  background-color: gray;
  margin: 15px;
  text-align: center;
  padding: .5%;
  width: 250px;
  height: 125px;
  justify-content: space-evenly;
  border-radius: 8px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 3px solid white;
  background-color: gray;
  margin-right: auto;
  margin-left: auto; 
  text-align: center;
  padding: .5%;
  width: 300px;
  height: 275px;
  justify-content: space-evenly;
  border-radius: 8px;
}

h3 {
  text-align: center;
}

footer {
  text-align: center;
}

.add-activity {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 3px solid white;
  background-color: gray;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: .5%;
  width: 250px;
  height: 175px;
  justify-content: space-evenly;
  border-radius: 8px;
}

.my-routines {
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 3px solid white;
    background-color: gray;
    text-align: center;
    padding: .5%;
    width: 250px;
    height: 125px;
    justify-content: space-evenly;
    border-radius: 8px;
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
}